body{
    color:rgba(33, 33, 33, 1); 
    font-family: 'Roboto', sans-serif;
    
}

h1{
    font-size: 60px;
    line-height: 70px;
    line-height: 100%;
    text-align: left;
    vertical-align: top;
    font-weight: 400;

}

h2{
    font-size: 32px;
    line-height: 38px;
    line-height: 100%;
    font-weight: 400;

    text-align: left;
    vertical-align: top;

}

h3{
    font-size: 24px;
    line-height: 28px;
    line-height: 100%;

    text-align: left;
    vertical-align: top;   
}

p{
    font-size: 16px;
    line-height: 24px;
    line-height: 128%;

    text-align: left;
    vertical-align: top;     
}

#franja-sup{
    width: 100%;
    height: 350px;

    background: url(/img/patron-1.png);
}

#body{
    display: flex;
    flex-direction: column;
}

#contenido{
    
    display: flex;
}

#nombre-area-nav{
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;

    text-transform: uppercase;
}

 #area-nav{
    color:rgba(97, 97, 97, 1);
    font-size: 14px;

    width: 15%;
    margin: 0px 5% 0px 5%;
 }

#desarrollo{
    width: 65%;
    margin: 0px 5% 0px 5%;    

}
 .h3-sub{
    text-decoration: underline;
 }
