body{
    font-family: 'Roboto', sans-serif;
}
#franja-sup{
    width: 100%;
    height: 350px;
    background: url(/img/patron-1.png);
}

#body{
    display: flex;
    flex-direction: column;
}

#contenido{

    display: flex;
}